#header {
   width: 100%;
}
body {
    position: relative;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}
#img1 {
    width: auto;
}

#img1 img {
    width: 100%;
   
}

#about {
    width: 100vw;
    height: 900px;
    margin: auto;
    
}
#headabout {
    font-style: bold;
    text-align: center;  
    font-size: 30px;    
}
#aboutCon {
    text-align: center;
    font-size: 14px;
    
}
#content {
    align-items: center;
    justify-items: center;
    
}
.skillbar {
    width: 200px;
    height: 20px;
    border-style: solid;
    border-color: rgb(59, 59, 59);
    border-width: thin;
    margin-bottom: 5px;
    display: flex;
}
#ab2 {
    width: 100%;
}
#aboutCon2 {
    width: 800px;
    margin: auto;
}
#sk1 {
    width: 90%;
    height: 20px;
    background-color: rgb(73, 73, 73);
    
}
#sk2 {
    width: 75%;
    height: 20px;
    background-color: rgb(73, 73, 73);
    
}
#sk3 {
    width: 60%;
    height: 20px;
    background-color: rgb(73, 73, 73);
    
}
#profile {
    float: left;
    width: 300px;
}
#profile img {
    width: 100%;
}
#skCon {
    float: right;
    width: 450px;
}
#skCon p {
    font-size: 30px;
}
#skCon i {
    font-size: 16px;
}
.space {
    height: 50px;
}
#img2 {
    width: auto;  
}

#img2 img {
    width: 100%;   
}
#port {
    width: 100%;
    margin: auto;
}
#headport {
    font-style: bold;
    text-align: center;  
    font-size: 30px;
}

#footer {
    width: 100%;
    height: 50px;
    background-color: rgb(59, 59, 59);
    text-align: center;
    margin-bottom: 0;
}
#footertxt {
    font-size: 30px;
    color: white;
}
    .row {
        display: flex;
    }
  /* The grid: Four equal columns that floats next to each other */
  .column {
    /*float: left;*/
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
   
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  #lineimg img {
      height: 200px;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram {
    background: #ff0040;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

