*{
    box-sizing: border-box;
}
$pri: #16385f;
$sec:#2f455f;
$thr: #387044;
$acc: #ca965a;
$lht: #ffffff;
$drk: #212121;
$font: 'Kanit', sans-serif;
body{ 
    font-weight: 300;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    background-color: $lht;
    color: $drk;
    font-family: $font;
    font-weight: 300;
}
.nv{
    width: 100%;
    background-color: $lht;
    color: $drk;
    padding-bottom: 8px;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
}
.shd{
    &-lit{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    &-reg{
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}
.brnd{
    font-size: 2em;
    margin: auto;
    width: fit-content;
    padding: 4px;
    font-weight: 400;
    a{
        text-decoration: none;
        color: $pri;
    }
}
.nvm{
    width: fit-content;
    margin: auto;
    
}
.mnt{
    text-decoration: none;
    color: $drk;
    padding: 8px;
    margin: 1px;
    transition: background-color 250ms;
    border-radius: 5px;
    &-active{
        background-color: $pri;
        color: $lht;
    }
    &:hover{
        background-color:$sec;
        color: $lht;
    }
}
.btn{
    text-decoration: none;
    transition: background-color 250ms;
    color: $lht;
    background-color: $sec;
    padding: 8px;
    &:hover{
        background-color: $pri;
    }
    width: fit-content;
    border-radius: 5px;
}
.m{
    &-auto{
        margin: auto;
    }
}
.bnr{
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.bg1{
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1498049794561-7780e7231661?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.bg2{
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1497275376929-a891025f53ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.bnrt{
    display: grid;
    text-align: center;
    background-color: #ffffff90;
    padding: 16px;
    span{
        font-size: 2em;
        margin: 8px;
        font-weight: 400;
    }
    @media(max-width: 500px){
        span{
            margin: 0;
            padding: 4px;
        }
    }
}
.enbnr{
    @extend .bnrt;
    span{
        font-size: 2em;
        padding: 8px;
        margin: 0;
        font-weight: 400;
    }
}
.csc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media(max-width:500px) {
        left: 10%;
        right: 10%;
        transform: translate(0,-50%);
    }
}
.ftr{
    width: 100%;
    background-color: $pri;
    color: $lht;
    display: flex;
    div{
        padding: 1em;
        height: max-content;
        margin: 4px;
        width: 50%;
    }
    div li{
        list-style: none;
    }
    div p{
        font-weight: 400;
    }
    div span a{
        color: $lht;
    }
    div a{
        text-decoration: none;
        color: $lht;
    }
    &-bnr{
        font-size: 2em;
    }
    @media(max-width: 500px){
        display: block;
        div{
            margin: unset;
            width: 100%;
            text-align: center;
            padding: unset;
        }
    }
}
.ctnr-fl{
    width: 100%;
    min-height: 100vh;
}
.sect{
    background-color: $lht;
    text-align: center;
    padding: 2em;
    display: grid;
}

.stitl{
    font-size: 2em;
    font-weight: 400;
    margin: auto;
    padding: 16px;
    color: $pri;
}
.bttop{
    @extend .mnt;
    position: fixed;
    right: 16px;
    bottom: 16px;
    background-color: #ffffff90;
    &:hover{
        background-color: $pri;
        color: $lht;
    }
}
.skal{
    display: flex;
    @media(max-width:500px){
        display: list-item;
        list-style: none;
    }
}
.sksb{
    width: 50%;
    display: list-item;
    list-style: none;
    p{
        font-size: 20px;
        font-weight: 400;
        color: $pri;
    }
    @media(max-width: 500px){
        width: 100%;
        padding: 16px;
    }
}
.ic{
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: $pri;
    border-radius: 50%;
    position: relative;
    i{
        @extend .csc;
        color: $lht;
        font-size: 20px;
    }
}

