* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-weight: 300;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #ffffff;
  color: #212121;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}

.nv {
  width: 100%;
  background-color: #ffffff;
  color: #212121;
  padding-bottom: 8px;
  position: fixed;
  top: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shd-lit {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shd-reg {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.pd-5 {
  padding: 1rem;
}

.brnd {
  font-size: 2em;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px;
  font-weight: 400;
  cursor: pointer;
}

.brnd a {
  text-decoration: none;
  color: #16385f;
}

.nvm {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.mnt, .bttop {
  text-decoration: none;
  color: #212121;
  padding: 8px;
  margin: 1px;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
  border-radius: 5px;
  cursor: pointer;
}

.mnt-active {
  background-color: #16385f;
  color: #ffffff;
}

.mnt-active:hover {
  background-color: #16385f !important;
}

.mnt:hover, .bttop:hover {
  background-color: #dddddd;
}

.btn {
  text-decoration: none;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
  color: #ffffff;
  background-color: #2f455f;
  padding: 8px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
}

.btn:hover {
  background-color: #16385f;
}

.m-auto {
  margin: auto;
}

.bnr {
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.bg1 {
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1498049794561-7780e7231661?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.bg2 {
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1497275376929-a891025f53ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.bnrt, .enbnr {
  display: -ms-grid;
  display: grid;
  text-align: center;
  background-color: #ffffff90;
  padding: 16px;
}

.bnrt span, .enbnr span {
  font-size: 2em;
  margin: 8px;
  font-weight: 400;
}

@media (max-width: 500px) {
  .bnrt span, .enbnr span {
    margin: 0;
    padding: 4px;
  }
}

.enbnr span {
  font-size: 2em;
  padding: 8px;
  margin: 0;
  font-weight: 400;
}

.csc, .ic i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
  .csc, .ic i {
    left: 10%;
    right: 10%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.cv {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ftr {
  width: 100%;
  background-color: #16385f;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ftr div {
  padding: 1em;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 4px;
  width: 50%;
}

.ftr div li {
  list-style: none;
}

.ftr div p {
  font-weight: 400;
}

.ftr div span a {
  color: #ffffff;
}

.ftr div a {
  text-decoration: none;
  color: #ffffff;
}

.ftr-bnr {
  font-size: 2em;
}

@media (max-width: 500px) {
  .ftr {
    display: block;
  }
  .ftr div {
    margin: unset;
    width: 100%;
    text-align: center;
    padding: unset;
  }
}

.ctnr-fl {
  width: 100%;
  min-height: 100vh;
}

.sect {
  background-color: #ffffff;
  text-align: center;
  height: 100%;
  position: relative;
}

.stitl {
  font-weight: 400;
  margin: auto;
  color: #16385f;
}

.bttop {
  position: fixed;
  right: 16px;
  bottom: 16px;
  background-color: #ffffff90;
}

.bttop:hover {
  background-color: #16385f;
  color: #ffffff;
}

.skal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

@media (max-width: 500px) {
  .skal {
    display: list-item;
    list-style: none;
  }
}

.sksb {
  width: 50%;
  display: list-item;
  list-style: none;
}

.sksb p {
  font-size: 20px;
  font-weight: 400;
  color: #16385f;
}

@media (max-width: 500px) {
  .sksb {
    width: 100%;
    padding: 16px;
  }
}

.ic {
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: #16385f;
  border-radius: 50%;
  position: relative;
}

.ic i {
  color: #ffffff;
  font-size: 20px;
}

.parg {
  line-height: 1.6;
}
/*# sourceMappingURL=app.css.map */